.Projects {
    position: absolute;
    top: 280%;
    left: 12%;
    right: 16%;
    color: #FFFFFF;
}

.ProjectsHeading {
    font-size: 32px;
    font-weight: 800;
}

.ProjectName {
    font-size: 32px;
    font-weight: 600;
}

.ProjectDescription {
    font-size: 18px;
    margin-bottom: 0px;
}