/* ~~~ For mobile phones ~~~ */
.Projects {
    position: absolute;
    top: 280%;
    left: 6%;
    right: 16%;
    color: #FFFFFF;
}

.ProjectsHeading {
    font-size: 20px;
    font-weight: 800;
}

.ProjectName {
    font-size: 16px;
    font-weight: 600;
}

.ProjectDescription {
    font-size: 13px;
    margin-bottom: 0px;

}

/* ~~~ For PC devices ~~~ */
@media only screen and (min-width: 768px) {
    .Projects {
        top: 280%;
        left: 12%;
        right: 16%;
    }
    
    .ProjectsHeading {
        font-size: 32px;
        font-weight: 800;
    }
    
    .ProjectName {
        font-size: 32px;
        font-weight: 600;
    }
    
    .ProjectDescription {
        font-size: 18px;
        margin-bottom: 0px;
    }
}