/* ~~~ For mobile phones ~~~ */
.Entry {
    color: #F6F7F9;
    text-shadow: 0;
    position: fixed;
    font-size: 14px;
    margin-left: 3%;
    top: 27%;
}

.Typewriter {
    background-color: #F6F7F9;
}

/* ~~~ For PC devices ~~~ */
@media only screen and (min-width: 768px) {
    .Entry {
        font-size: 20px;
        margin-left: 2%;
        top: 30%;
    }
}