/* ~~~ For mobile phones ~~~ */
.Entry {
    position: fixed;
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 3%;
    top: 30%;
}

/* ~~~ For PC devices ~~~ */
@media only screen and (min-width: 768px) {
    .Entry {
        font-size: 20px;
        margin-left: 3%;
        top: 30%;
    }
}