/* ~~~ For mobile phones ~~~ */
.Bio {
    position: absolute;
    color: #FFFFFF;
    top: 26%;
    left: 12%;
    right: 16%;
}

.BioHeader {
    font-size: 20px;
}

.BioColor {
    color: #FFFFFF;
}

.BioText {
    font-size: 14px;
    margin-bottom: 0px;
}

.Youtube {
    color: #FF4444;
    /* text-decoration: none; */
}

.BioNote {
    font-size: 8px;
    color: #555555;
}


@media only screen and (min-width: 768px) {
    .Bio {
        top: 45%;
        left: 12%;
        right: 16%;
    }

    .BioHeader {
        font-weight: 800;
        font-size: 32px;
    }

    .BioText {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .BioNote {
        font-size: 12px;
        color: #555555;
    }
}