/* ~~~ For mobile phones ~~~ */
.Bio {
    position: relative;
    color: #FFFFFF;
    margin-left: 12%;
    margin-right: 16%;
}

.BioHeader {
    font-size: 20px;
}

.BioColor {
    color: #FFFFFF;
}

.BioText {
    font-size: 13px;
    text-align: center;
    margin-bottom: 0px;
}

.Youtube {
    color: #FF4444;
    /* text-decoration: none; */
}

.BioNote {
    font-size: 8px;
    text-align: center;
    color: #555555;
}

/* ~~~ For PC devices ~~~ */
@media only screen and (min-width: 768px) {
    .Bio {
        top: 45%;
    }

    .BioHeader {
        font-weight: 800;
        font-size: 32px;
    }

    .BioText {
        font-size: 18px;
        text-align: left;
    }

    .BioNote {
        font-size: 12px;
        text-align: left;
    }
}