/* ~~~~~~~~~~~~ For mobile phones ~~~~~~~~~~~~ */
.Bio {
    position: relative;
    margin-top: 40px;
    margin-left: 4%;
    margin-right: 6%;
}

.BioHeader {
    font-weight: 800;
    font-size: 20px;
    margin-left: 20px;
}

.BioText {
    font-size: 13px;
    text-align: center;
    margin-bottom: 0px;
}

.BioNote {
    font-size: 8px;
    text-align: center;
    color: #555555;
}

/* ~~~~~~~~~~~~ For PC devices ~~~~~~~~~~~~ */
@media only screen and (min-width: 768px) {
    .Bio {
        margin-top: 0;
        margin-left: 10.3%;
        margin-right: 7%;
    }

    .BioHeader {
        font-size: 32px;
        margin-left: 0px;
    }

    .BioText {
        font-size: 18px;
        text-align: left;
    }

    .BioNote {
        font-size: 12px;
        text-align: left;
    }
}