/* ~~~ For mobile phones ~~~ */
.Entry {
    position: absolute;
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 3%;
    top: 33%;
    left: 2px;
}

@media only screen and (min-width: 768px) {
    .Entry {
        font-size: 34px;
        left: 3%;
        top: 33%;
    }
}