/* ~~~ For mobile phones ~~~ */
.Contact {
    position: absolute;
    /* top: 260%; */
    top: 360%;
    left: 12%;
    right: 16%;
}

.ContactHeading {
    font-size: 32px;
    font-weight: 600;
}

.ContactText {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.Mail {
    position: absolute;
    width: 60%;
    display: flex;
}

.EmailImg {
    width: 12px;
    height: 12px;
}

.Email {
    margin-top: 50px;
    font-size: 20px;
    margin-left: 100px;
}

/* ~~~ For PC devices ~~~ */
@media only screen and (min-width: 768px) {
    .Email {
        margin-left: 900px;
    }
}