@keyframes blend {
    0% {color: #FFFFFF}
    100% {color: #000000}
}

.BasicAbout {
    position: absolute;
    color: #FFFFFF;
    font-size: 38px;
    left: 4%;
    top: 35%;
    animation: blend 2s ease 7s 1 normal forwards;
}

@media (width < 700) {
    .BasicAbout {
        position: absolute;
        color: #FFFFFF;
        font-size: 24px;
        margin-left: 3%;
        top: 35%;
    }
}