/* ~~~ For mobile phones ~~~ */
.Footer {
    position: relative;
    margin-top: 15vh;
    width: 100%;
    padding-top: 20px;
    z-index: 20;
    background-color: #070707;
}

.FooterHeading {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.FooterText {
    font-size: 13px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 40px;
    text-align: center;
}

.Patreon {
    width: 25px;
    height: 25px;
}

.Wordmark {
    margin-left: 10px;
    width: 100px;
    height: 25px;
}

/* ~~~~~~~~~~~~ For PC devices ~~~~~~~~~~~~ */
@media only screen and (min-width: 768px) {
    .Footer {
        margin-top: 25vh;
        padding-top: 1.2rem;
    }
    
    .FooterHeading {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }    
    
    .FooterText {
        margin-top: 1.8rem;
        font-size: 1.2rem;
        padding-bottom: 2rem;
        text-align: center;
    }
}