/* ~~~ For mobile phones ~~~ */
.Socials {
    position: absolute;
    width: 100%;
    top: 80%;
    left: 12%;
}

.EachSocial {
    display: flex;
    margin-left: 5px;
}

.SocialsLogo {
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

.SocialsHeader {
    color: #FFFFFF;
    font-size: 32px;
    margin-bottom: 20px;
}

.SocialsText {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 5px;
}

