html, body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #000000;
}

/* works for chrome, chrome scroll is ugly */ 
::-webkit-scrollbar {
    width: 12px;
    background-color: #424242;
}

::-webkit-scrollbar-thumb {
    background: #686868;
}

.Home {
    position: absolute;
    color: #F6F7F9;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Canvas {
    position: fixed;
    z-index: -10;
}

/* Utility Classes */
.Hyperlink {
    color: #1da8f2;
}

.Hyperlink:hover {
    color: #1d77c9;
}

.Shadertoy {
    color: #FF8020;
}

.Shadertoy:hover {
    color: #DF6010;
}

.Youtube {
    color: #FF4444;
}

.Youtube:hover {
    color: #DD3333;
}