html, body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #000000;
}

/* works for chrome, chrome scroll is ugly */ 
::-webkit-scrollbar {
    width: 12px;
    background-color: #424242;
}

::-webkit-scrollbar-thumb {
    background: #686868;
}

.App {
    display: flex; 
    flex-direction: column;
}

.App::after {
    content: "";
    display: block;
    height: 1px; /* Ensures `.App` stretches */
}

.Canvas {
    position: fixed;
    z-index: -10;
}

.Home {
    position: absolute;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: transparent;
}

/* ~~~ For mobile phones ~~~ */
.Entry {
    color: #F6F7F9;
    text-shadow: 0;
    position: fixed;
    font-size: 14px;
    margin-left: 3%;
    top: 27%;
    z-index: -1;
}

.Typewriter {
    background-color: #F6F7F9;
}

/* ~~~ For PC devices ~~~ */
@media only screen and (min-width: 768px) {
    .Entry {
        font-size: 20px;
        margin-left: 2%;
        top: 30%;
    }
}

/* Utility Classes */
.Hyperlink {
    color: #1da8f2;
}

.Hyperlink:hover {
    color: #1d77c9;
}

.Shadertoy {
    color: #FF8020;
}

.Shadertoy:hover {
    color: #DF6010;
}

.Youtube {
    color: #FF4444;
}

.Youtube:hover {
    color: #DD3333;
}