html, body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #000000;
}

::-webkit-scrollbar {
    width: 10px;
}

.App {
    position: absolute;
    color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Canvas {
    position: fixed;
    z-index: -10;
}

/* .test {
    background-color: #FF0000;
    height: 20000px;
    z-index: -12;
}

.h1 {
    font-size: 48px;
    color: #FF0000;
} */

.Hyperlink:link {
    color: #1da8f2;
}

.Hyperlink:visited {
    color: #1DA8F2;
}